<!-- Menu -->
{%load static%}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'index'%}" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="{% static 'icons/logo.jpg' %}"  style="width: 100px;" alt="">
        </span>
        <!-- <span class="app-brand-text demo menu-text fw-bolder ms-2"></span> -->
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="{% url 'index'%}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Components -->
      {% if user_role == 'admin' %}
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Manage</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a href="{%url 'teamlead_list'%}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">Operatorlar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{%url 'operator_list'%}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user-circle"></i>
          <div data-i18n="Basic">Xodimlar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{%url 'client_list'%}" class="menu-link">
          <!-- <i class="menu-icon tf-icons bx bx-user"></i> -->
          <i class='menu-icon bx bxs-user-detail' ></i>
          <div data-i18n="Basic">Clientlar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{%url 'viloyat_show'%}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-map"></i>
          <div data-i18n="Basic">Viloyatlar</div>
        </a>
      </li>
      {%endif%}

      {%if user_role == 'operator' %}
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Manage</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a href="{%url 'hodim_list'%}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">Xodimlar</div>
        </a>
      </li>
      {%endif%}
      
      <!-- Extended components -->
      
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <!-- <i class="menu-icon tf-icons bx bx-copy"></i> -->
          <i class='menu-icon tf-icons bx bx-message-rounded-dots'></i>
          <div data-i18n="Extended UI">Xabarlar</div>
        </a>
        {% if user_role == 'admin' %}
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Text Divider">Xabar jo'natish</div>
            </a>
          </li>
        </ul>
        {%endif%}

        {%if user_role == 'operator'%}
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Perfect Scrollbar">Yangi xabarlar</div>
            </a>
          </li>
        </ul>
        {% endif %}
        {%if user_role == 'xodim'%}
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{%url 'chat_operator' %}" class="menu-link">
              <div data-i18n="Perfect Scrollbar">Yangi xabarlar</div>
            </a>
          </li>
        </ul>
        {% endif %}
      </li>
     

      
      <!-- Misc -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Profile settings</span></li>
      <li class="menu-item">
        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="menu-link"
        >
        
          <i class='menu-icon tf-icons bx bx-cog' ></i>
          <div data-i18n="Support">Settings</div>
        </a>
      </li>
      <li class="menu-item">
        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="menu-link"
        >
          <i class="menu-icon tf-icons bx bx-support"></i>
          <div data-i18n="Support">Support</div>
        </a>
      </li>
      
    </ul>
  </aside>
  <!-- / Menu -->