{% extends 'base.html'%}

{% block content %}
<div class="layout-page">
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Viloyat </span> qo'shish</h4>
        <form action="">
            <div class="row">
                <!-- Basic -->

                <div class="col-md-8    ">
                <div class="card mb-4">
                    <h5 class="card-header">Forma</h5>
                    <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="input-group">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Name..."
                        aria-label="Name"
                        aria-describedby="basic-addon11"
                        />
                    </div>
                    <div class="input-group">
                        <input
                        type="submit"
                        class="form-control"
                    
                        aria-describedby="basic-addon11"
                        value="Submit"
                        />
                    </div>

                    

                    </div>
                </div>
                </div>

            </div>
        </form> 
        <div class="content-backdrop fade"></div>
    </div>
</div>
{%endblock%}